/.bundle
/log/*
/tmp/*
/uploads/*
!/log/.keep
!/tmp/.keep
.byebug_history
notes
/config/database.yml
/db/*.sqlite3
*.sql
*.sublime-workspace
doc/*.sql
*.swp
*.swo
.DS_Store
.idea
.rvmrc
.env
Procfile.dev
dump.rdb
coverage
*.TODO
*.todo
TODO
.gemtags
TAGS
/public/assets/*
public/system
public/uploads
public/bwn-image/
vendor/cache/
.data
logfile
node_modules
.ssh
gems/
